body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header {
    background: #1f1f1f;
    padding: 20px;
    text-align: center;
}

.subtitle {
    font-size: 14px;
    margin-top: 5px;
    color: #9e9e9e;
}

h2 {
    margin-left: 20px;
}

.card {
    background: #1b1b1b;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #000;
}

.pick-card {
    background: #222;
    padding: 15px;
    margin: 15px 20px;
    border-left: 4px solid #4caf50;
    border-radius: 6px;
}

footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    background: #1f1f1f;
    color: #777;
}
